 STILE.CSS
    *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:linear-gradient(90deg,#00b4db,#0083b0);
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:yellow;
}

.hero{
 height:60vh
 


